@using WebApp.BeautySoft.Enums
@model WebApp.BeautySoft.Models.UserModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRegistration" class="control-label"></label>
                <input asp-for="DateRegistration" class="form-control" />
                <span asp-validation-for="DateRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdate" class="control-label"></label>
                <input asp-for="DateUpdate" class="form-control" />
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfil" class="control-label">Perfil</label>
                <select asp-for="Perfil" class="form-control">
                    <option value="0">Selecione</option>
                    <option value="@PerfilEnum.Admin">Adiministrador</option>
                    <option value="@PerfilEnum.Padrao">Padrão</option>
                </select>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
